   根据教材上的PL/0文法(P400)（建议大家都做这个）或P66页的示例文法，完成词法分析程序，要求能够分析符合文法要求的程序，并输出单词的类别码和单词值（对于一符一类的本来可以不记录单词值，但本次作业要求输出该单词的字符串形式，比如FORTK,for），单词的类别和表示的名称需自行设计，类别码在输出时要用便于理解的助记符形式，而不要只是一个编号。输出的形式类似于下面的示例：
    1 VARTK var
    2 IDEN head
    3 COMMA ,
    4 IDEN n
    输出可以是在控制台，也可以是输出到文件中。
    本次作业需提交：
    1. 源代码，提交完整的工程文件
    2. 测试程序，命名为“学号_test.txt”
    3. 测试结果文件，说明上述测试程序产生的输出结果，并说明该结果是否与预期的相符，如果不相符，存在什么问题。请将该测试结果文件命名为“学号_姓名_词法分析结果.docx”
    将上述文件放在一个文件夹下，文件夹命名为“学号_姓名_词法分析”，压缩为“学号.zip”，提交该zip文件。
    提交截止时间为2018年10月7日24:00。
   
作业指南：
   （1）. 根据PL/0文法把词法规则用左线性正则文法定义出来。例如
     1. <标识符>::= 字母 | <标识符>字母 | <标识符>数字
     2. <无符号整数>::=数字 | <无符号整数>数字
     3. <单字符分界符>::= + |-| *|/ | , | (  |  )|;|=
     4. <赋值符>::= <冒号>=
     5. <冒号>::=  :
     6. <大于等于符>::=<大于号>=
     7. <大于号>::=‘>’
     8. <小于等于符>::=<大于号>=
     9. <小于号>::=‘<’
    （此规则仅为示例，大家需自行设计）
   （2）阅读PL/0编译器源代码（在“课程信息-课件下载中获取”）其中的getsym过程，读懂后写注释，再用C或C++语言实现一个词法分析程序，接收控制台输入的源文件（用PL/0语言编写的，用.txt文件存储），分析输出上述格式的单词序列到控制台或者文件。
   （3）可以下载安装诸如Lazarus等支持PASCAL语言的集成开发环境，用来运行调试PL/0编译器源代码，以便深入了解PL/0编译器的设计与实现。


